header{
      background-color: green;
      height: 12vh;
      width: 80%;
      float: left;
      padding: 5px;
   }
   #logo{
      height: 12vh;
   }

   #ads{
      background-color: greenyellow;
      height: 12vh;
      padding: 5px;
      width: 20%;
      
      }
      .container{
      display: flex;
      
}
nav{
      background-color:pink;
      height: 300px;
      width: 10%;
      padding: 5px;
}
#artical{
      background-color: yellow;
      height: 300px;
      width: 90%;
      padding: 5px;
}
footer{
      background-color: yellowgreen;
      height: 10vh;
      padding: 5px;
}